.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  height: calc(100vh - 60px);
  width: 100vw;
  margin-left: 1rem;
  overflow-x: scroll;
}

@media screen and (min-width: 425px) {
  .board {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
  }
}
